<div class="container">
  <div class='row'>
    <div class="offset-md-4 col-md-4">
  <h1 class="text-center mt-4 mb-4">{{title}}</h1>
</div>
<div *ngIf="authService.isLoggedIn()" class='col-md-4 mt-3 pt-4 text-right'>
  <a [routerLink]="['history']"
  routerLinkActive="active"> History </a>
  <a [routerLink]="['play']"
  routerLinkActive="active"> Game </a>
   <a [routerLink]="['login']"
      routerLinkActive="active"
      (click)='authService.logOut()'> Log out
    </a>
</div>
  </div>
  <div *ngIf="authService.isLoggedIn();else authBlock">
<router-outlet></router-outlet>
</div>
<ng-template #authBlock><app-switcher></app-switcher></ng-template>
</div>