<div class='container' id='gameWindow'>
    <div id='messageArea'>
        <div *ngFor="let message of messages;">
            <app-message [messageText]="message.messageText" [fromMe]="message.fromMe"></app-message>
          </div>
    </div>
    <div id='responseArea'>
        <div class="form-group col-md-6 offset-md-3">
            <textarea placeholder="Enter value"></textarea>
        </div>
        <div class="form-group col-md-6 offset-md-3">
        <button class="btn btn-primary">Send</button>
    </div>
    </div>
</div>