#gameWindow{
    margin: 3% auto;
    max-width: 600px;
}
#messageArea{
    height: 500px;
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* hiding scrollbar on message area*/
#messageArea::-webkit-scrollbar { /* Chrome, Opera*/
    display: none;
}
#messageArea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}