<div class='container' id='gameWindow'>
    <div id='messageArea'>
        <div *ngFor="let message of messages;">
            <app-message [messageText]="message.messageText" [fromMe]="message.fromMe"></app-message>
          </div>
          <div class="text-center" *ngIf="noActiveGame()">
          <div class="form-group col-md-6 offset-md-3">
                <input type="number" class="form-control" #gameNumber>
            </div>
                <button class="btn btn-primary" (click)="startGame(gameNumber.value)">Start</button>
          </div>
    </div>
    <div id='responseArea' *ngIf="!isGameOwner && !noActiveGame()" class='form-inline'>
        <div class="form-group mb-2 offset-md-3 mr-sm-2">
            <input type="number" class="form-control" #response placeholder="Enter value">
        </div>
        <button class="btn btn-primary mb-2" type="submit" (click)="sendGuess(response.value)">Send</button>
    </div>
</div>