<div id="tab-switcher" class="container">
    <nav class="text-center">
    <div class="btn-group w-100" role="group" aria-label="login-register switcher">
        <a class="btn btn-outline-primary btn-lg"
            [routerLink]="['login']"
            routerLinkActive="active">Login</a>
        <a class="btn btn-outline-primary btn-lg"
            [routerLink]="['register']"
            routerLinkActive="active">Register</a>
      </div>
    </nav>
    <div id="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>