<form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-4">
    <div class="form-group col-md-6 offset-md-3">
      <label for="">Email address</label>
      <input type="email" class="form-control" id="" placeholder="Enter email" [formControl]="getControl('email')">
    </div>
      <div *ngIf="needsValidation('email')" class="alert alert-danger form-group col-md-6 offset-md-3">
        <div *ngIf="getControl('email').errors.required">
          Email is required.
        </div>
        <div *ngIf="getControl('email').errors.email">
            Invalid email format.
          </div>
      </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="">Password</label>
      <input type="password" class="form-control" placeholder="Password" [formControl]="getControl('password')">
    </div>
      <div *ngIf="needsValidation('password')" class="alert alert-danger form-group col-md-6 offset-md-3">
        <div *ngIf="getControl('password').errors.required">
              Password is required.
        </div>
        <div *ngIf="getControl('password').errors.minlength">
              Password must be at least 5 characters long.
        </div>
        <div *ngIf="getControl('password').errors.maxlength">
              Password must be at most 60 characters long.
        </div>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <app-error *ngIf="errorBlock" [errorMessage]="errorMes"></app-error>
    </div>
    <div class="form-group col-md-6 offset-md-3">
    <button type="submit" [disabled]="!loginForm.valid"class="btn btn-primary">Submit</button>
    </div>
  </form>
